@import "./global";
// $globalColor: #ff6b4e;
$globalColor: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
$contentTextCol: white;

@mixin btnTemplate {
  background: $globalColor;
  color: $contentTextCol;
  border-radius: 100px;
  padding: 10px 50px;
}

@mixin btnHover {
  background: $contentTextCol;
  cursor: pointer;
}
@mixin center {
  display: flex;
  align-items: center;
}
@mixin headerListSize {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.big__content {
  background-color: #e9e9e9;
  overflow: hidden;
  .content__main {
    height: 1000px;
    background-image: url(/images/Rectangle3.png);
    background-repeat: none;
    background-size: cover;
    border-radius: 60px 60px 0 0;
    .container {
      .header {
        @include center;
        justify-content: space-between;
        padding: 50px 0 0 0;
        color: $contentTextCol;
        .header__list {
          .header__navbar {
            display: flex;
            align-items: center;
            .header__navbar__list {
              cursor: pointer;
              margin: 0 0 0 80px;
              list-style: none;
              a {
                text-decoration: none;
                @include headerListSize;
                color: $contentTextCol;
                position: relative;

                &::before {
                  content: "";
                  position: absolute;
                  bottom: -6px;
                  width: 0;
                  height: 5px;
                  background: #c4c4c4;
                  border-radius: 100px;
                  transition: 0.4s linear;
                }

                &:hover {
                  &::before {
                    width: 80%;
                  }
                }
              }
            }
          }
          .header__logo {
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;
            cursor: pointer;
          }
          .header__sign__up {
            @include center;
            cursor: pointer;
            .sign__login {
              margin: 0 0 0 20px;
              button {
                margin: 0 0 0 25px;
                transition: 0.8s ease;
                border: none;
                background: $globalColor;
                padding: 13px 43px;
                border-radius: 20px;
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                color: $contentTextCol;
                cursor: pointer;
                &:hover {
                  background: white;
                  color: $globalColor;
                }
              }
            }
          }
        }
      }
      // Showcase part
      .showcase {
        display: flex;
        margin-top: 80px;
        .showcase__left {
          .btn__explore {
            margin-bottom: 19px;
            button {
              cursor: pointer;
              font-weight: 500;
              font-size: 15px;
              line-height: 27px;
              color: $contentTextCol;
              padding: 10px 38px;
              background: #628974;
              border: none;
              border-radius: 15px;
            }
          }
          .explore__theme {
            font-style: normal;
            font-weight: 600;
            font-size: 55px;
            line-height: 82px;
            max-width: 603px;
            color: $contentTextCol;
          }
          .explore__comment {
            max-width: 520px;
            color: #f8f4f4;
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 37px;
          }
          .btn__explore_now {
            button {
              background: $globalColor;
              color: $contentTextCol;
              border: none;
              margin-top: 70px;
              padding: 25px 60px;
              border-radius: 27px;
              font-weight: 600;
              font-size: 25px;
              line-height: 37px;
              transition: 0.9s ease;
              &:hover {
                background: $contentTextCol;
                color: $globalColor;
                cursor: pointer;
              }
            }
          }
        }

        .showcase__right {
          position: relative;
          width: 50%;
          .girl__fhotogtof {
            position: absolute;
            top: -38px;
            left: -271px;
            img {
              width: 1000px;
              height: 1000px;
              object-fit: contain;
            }
          }
          .aylana__two {
            position: absolute;
            left: 22px;
            top: 32px;
          }
          .aylana__three {
            position: absolute;
            top: 50px;
            left: -5px;
          }
          .aylana__5 {
            position: absolute;
            top: 20px;
            right: 30px;
          }
          .aylana__6 {
            position: absolute;
            top: 56px;
            right: 87px;
          }
          .egri__one {
            position: absolute;
            bottom: -100px;
            left: 100px;
          }
          .egri__two {
            position: absolute;
            bottom: -110px;
            left: 190px;
          }
        }
      }
    }
  }
  // Slider part
  .Slider {
    margin: 84px 0 86px 0;
    padding-left: 88px;
    display: flex;

    .slider__item {
      width: 100%;
      display: flex;
      overflow: hidden;
      .slider__item_left {
        .dest_choise_of {
          font-weight: 600;
          font-size: 30px;
          line-height: 45px;
          color: #0f1f1c;
          padding-top: 25px;
        }
        .destinations {
          font-weight: 600;
          font-size: 55px;
          line-height: 82px;
          .dest__btn {
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            background: $globalColor;
            color: $contentTextCol;
            padding: 30px 60px;
            border-radius: 27px;
            border: none;
            transition: 0.8s ease-in-out;
            cursor: pointer;
            &:hover {
              background: silver;
              color: #ff7b4e;
            }
          }
        }
        .dest__text {
          font-weight: 500;
          font-size: 23px;
          line-height: 37px;
          max-width: 420px;
          margin: 15px 0 60px 0;
          opacity: 0.5;
        }
      }

      .slider__item_right {
        display: flex;
        align-items: center;
        padding-left: 49px;
        .slider__img {
          margin: 0 30px;
        }
        .prev {
          position: relative;
          .prev__btn {
            @include center;
            justify-content: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -26px;
            width: 50px;
            height: 50px;
            background: $globalColor;
            border-radius: 50%;
            font-size: 20px;
            color: $contentTextCol;
            transition: 0.8s ease-in-out;
            &:hover {
              @include btnHover();
            }
          }
        }
      }
    }
  }
  // Customer part.

  .customer {
    margin: 200px 0;
    .container {
      .cunsomer__item {
        display: flex;
        .cumtomer__item_left {
          margin: 0 20px 0 0;
          .custom__img {
            img {
              border-radius: 60px;
            }
          }
        }
        .cumtomer__item_right {
          margin-left: 40px;
          .man__info__head {
            max-width: 550px;
            font-weight: 500;
            font-size: 45px;
            line-height: 67px;
          }
          .man__info {
            @include center;
            .man__info__img {
              @include center;
              justify-content: center;
              width: 135px;
              height: 135px;
              overflow: hidden;
              background: $globalColor;
              border-radius: 50%;
            }
            .man__info__name {
              display: flex;
              flex-direction: column;
              margin: 0 0 0 40px;
              .span__name {
                font-weight: 500;
                font-size: 33px;
                line-height: 49px;
              }
              .span__country {
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 37px;
                opacity: 0.5;
              }
            }
          }
          .man__footer {
            margin: 60px 0 0 0;
            .man__foter_comment {
              max-width: 500px;
              font-weight: 500;
              font-size: 22px;
              line-height: 33px;
              opacity: 0.5;
            }
            .man__baho {
              margin-top: 30px;
            }
          }
        }
      }
    }
  }

  // yourself__start
  .yourself__start {
    margin: 0 0 20px 0;
    .yourself__start__item {
      display: flex;
      width: 90%;
      height: 500px;
      margin: 0 auto;
      background: $contentTextCol;
      border-radius: 50px;
      .ractangel {
        position: relative;
        img {
          position: absolute;
          color: $globalColor;
        }
        .circle__one {
          bottom: 56px;
          left: 96px;
        }
        .circle__two {
          bottom: 102px;
          left: 110px;
        }
        .circle__three {
          bottom: 93px;
          left: 73px;
        }
        .circle__4 {
          top: 74px;
          right: 112px;
        }
        .circle__6 {
          top: 102px;
          right: 93px;
        }
        .circle__5 {
          top: 117px;
          right: 116px;
        }
      }
      .middle__rectangl {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 60%;
        .middle__item {
          margin-top: 100px;
          font-weight: 500;
          font-size: 45px;
          line-height: 67px;
          max-width: 540px;
          text-align: center;
        }
        .middle__item_center {
          margin: 30px 0 60px 0;
          font-weight: normal;
          font-size: 30px;
          line-height: 45px;
          opacity: 0.5;
          max-width: 700px;
        }
        .middle__footer {
          button {
            border: none;
            background: $globalColor;
            color: $contentTextCol;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            padding: 25px 55px;
            border-radius: 27px;
            transition: 0.4s ease-in;
            cursor: pointer;
            &:hover {
              background: silver;
              color: #ff7b4e;
            }
          }
        }
      }
      .ractangel {
        width: 20%;
      }
    }
  }

  .subscribe__box {
    margin: 135px 0 80px 0;
    .container {
      .subscribe {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .subscribe__text {
          font-weight: 600;
          font-size: 55px;
          line-height: 82px;
          text-align: center;
          max-width: 500px;
          margin-bottom: 60px;
        }
        .subscribe__input {
          position: relative;
          .btn__subscribe {
            position: absolute;
            top: 12%;
            right: 6px;

            button {
              background: $globalColor;
              color: $contentTextCol;
              padding: 30px 75px;
              border-radius: 20px;
              border: none;
              &:hover {
                background: silver;
                color: #ff7b4e;
              }
            }
          }
          input {
            width: 700px;
            padding: 40px 0 40px 46px;
            border: none;
            border-radius: 20px;
            &::placeholder {
              font-weight: 500;
              font-size: 24px;
              line-height: 36px;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }

  .footer__box {
    padding: 0 0 60px 0;
    .container {
      .footer__item {
        @include center;
        justify-content: space-between;
        .footer__list {
          .footer__navbar {
            display: flex;
            align-items: center;
            .footer__navbar__list {
              margin: 0 0 0 80px;
              list-style: none;
              a {
                text-decoration: none;
                @include headerListSize;
                color: black;
                opacity: 0.5;
              }
            }
          }
          .footer__logo {
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;
            cursor: pointer;
            color: #ff7b4e;
          }
          .footer__btn__box {
            @include center;
            cursor: pointer;
            .footer__sign__up {
              opacity: 0.5;
            }
            .footer__sign__login {
              button {
                margin: 0 0 0 25px;
                transition: 0.8s ease;
                border: none;
                background: $globalColor;
                padding: 13px 43px;
                border-radius: 20px;
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                &:hover {
                  background: silver;
                  color: $globalColor;
                }
              }
            }
          }
        }
      }
    }
  }
}
