* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
}

.big__content {
  background-color: #e9e9e9;
  overflow: hidden;
}

.big__content .content__main {
  height: 1000px;
  background-image: url(/images/Rectangle3.png);
  background-repeat: none;
  background-size: cover;
  border-radius: 60px 60px 0 0;
}

.big__content .content__main .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0 0 0;
  color: white;
}

.big__content .content__main .container .header .header__list .header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big__content .content__main .container .header .header__list .header__navbar .header__navbar__list {
  cursor: pointer;
  margin: 0 0 0 80px;
  list-style: none;
}

.big__content .content__main .container .header .header__list .header__navbar .header__navbar__list a {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: white;
  position: relative;
}

.big__content .content__main .container .header .header__list .header__navbar .header__navbar__list a::before {
  content: "";
  position: absolute;
  bottom: -6px;
  width: 0;
  height: 5px;
  background: #c4c4c4;
  border-radius: 100px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.big__content .content__main .container .header .header__list .header__navbar .header__navbar__list a:hover::before {
  width: 80%;
}

.big__content .content__main .container .header .header__list .header__logo {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  cursor: pointer;
}

.big__content .content__main .container .header .header__list .header__sign__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.big__content .content__main .container .header .header__list .header__sign__up .sign__login {
  margin: 0 0 0 20px;
}

.big__content .content__main .container .header .header__list .header__sign__up .sign__login button {
  margin: 0 0 0 25px;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  border: none;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  padding: 13px 43px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: white;
  cursor: pointer;
}

.big__content .content__main .container .header .header__list .header__sign__up .sign__login button:hover {
  background: white;
  color: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
}

.big__content .content__main .container .showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.big__content .content__main .container .showcase .showcase__left .btn__explore {
  margin-bottom: 19px;
}

.big__content .content__main .container .showcase .showcase__left .btn__explore button {
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  line-height: 27px;
  color: white;
  padding: 10px 38px;
  background: #628974;
  border: none;
  border-radius: 15px;
}

.big__content .content__main .container .showcase .showcase__left .explore__theme {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  max-width: 603px;
  color: white;
}

.big__content .content__main .container .showcase .showcase__left .explore__comment {
  max-width: 520px;
  color: #f8f4f4;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
}

.big__content .content__main .container .showcase .showcase__left .btn__explore_now button {
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  color: white;
  border: none;
  margin-top: 70px;
  padding: 25px 60px;
  border-radius: 27px;
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;
  -webkit-transition: 0.9s ease;
  transition: 0.9s ease;
}

.big__content .content__main .container .showcase .showcase__left .btn__explore_now button:hover {
  background: white;
  color: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  cursor: pointer;
}

.big__content .content__main .container .showcase .showcase__right {
  position: relative;
  width: 50%;
}

.big__content .content__main .container .showcase .showcase__right .girl__fhotogtof {
  position: absolute;
  top: -38px;
  left: -271px;
}

.big__content .content__main .container .showcase .showcase__right .girl__fhotogtof img {
  width: 1000px;
  height: 1000px;
  -o-object-fit: contain;
     object-fit: contain;
}

.big__content .content__main .container .showcase .showcase__right .aylana__two {
  position: absolute;
  left: 22px;
  top: 32px;
}

.big__content .content__main .container .showcase .showcase__right .aylana__three {
  position: absolute;
  top: 50px;
  left: -5px;
}

.big__content .content__main .container .showcase .showcase__right .aylana__5 {
  position: absolute;
  top: 20px;
  right: 30px;
}

.big__content .content__main .container .showcase .showcase__right .aylana__6 {
  position: absolute;
  top: 56px;
  right: 87px;
}

.big__content .content__main .container .showcase .showcase__right .egri__one {
  position: absolute;
  bottom: -100px;
  left: 100px;
}

.big__content .content__main .container .showcase .showcase__right .egri__two {
  position: absolute;
  bottom: -110px;
  left: 190px;
}

.big__content .Slider {
  margin: 84px 0 86px 0;
  padding-left: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.big__content .Slider .slider__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.big__content .Slider .slider__item .slider__item_left .dest_choise_of {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #0f1f1c;
  padding-top: 25px;
}

.big__content .Slider .slider__item .slider__item_left .destinations {
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
}

.big__content .Slider .slider__item .slider__item_left .destinations .dest__btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  color: white;
  padding: 30px 60px;
  border-radius: 27px;
  border: none;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  cursor: pointer;
}

.big__content .Slider .slider__item .slider__item_left .destinations .dest__btn:hover {
  background: silver;
  color: #ff7b4e;
}

.big__content .Slider .slider__item .slider__item_left .dest__text {
  font-weight: 500;
  font-size: 23px;
  line-height: 37px;
  max-width: 420px;
  margin: 15px 0 60px 0;
  opacity: 0.5;
}

.big__content .Slider .slider__item .slider__item_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 49px;
}

.big__content .Slider .slider__item .slider__item_right .slider__img {
  margin: 0 30px;
}

.big__content .Slider .slider__item .slider__item_right .prev {
  position: relative;
}

.big__content .Slider .slider__item .slider__item_right .prev .prev__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -26px;
  width: 50px;
  height: 50px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 50%;
  font-size: 20px;
  color: white;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.big__content .Slider .slider__item .slider__item_right .prev .prev__btn:hover {
  background: white;
  cursor: pointer;
}

.big__content .customer {
  margin: 200px 0;
}

.big__content .customer .container .cunsomer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.big__content .customer .container .cunsomer__item .cumtomer__item_left {
  margin: 0 20px 0 0;
}

.big__content .customer .container .cunsomer__item .cumtomer__item_left .custom__img img {
  border-radius: 60px;
}

.big__content .customer .container .cunsomer__item .cumtomer__item_right {
  margin-left: 40px;
}

.big__content .customer .container .cunsomer__item .cumtomer__item_right .man__info__head {
  max-width: 550px;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
}

.big__content .customer .container .cunsomer__item .cumtomer__item_right .man__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big__content .customer .container .cunsomer__item .cumtomer__item_right .man__info .man__info__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 135px;
  height: 135px;
  overflow: hidden;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  border-radius: 50%;
}

.big__content .customer .container .cunsomer__item .cumtomer__item_right .man__info .man__info__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 40px;
}

.big__content .customer .container .cunsomer__item .cumtomer__item_right .man__info .man__info__name .span__name {
  font-weight: 500;
  font-size: 33px;
  line-height: 49px;
}

.big__content .customer .container .cunsomer__item .cumtomer__item_right .man__info .man__info__name .span__country {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 37px;
  opacity: 0.5;
}

.big__content .customer .container .cunsomer__item .cumtomer__item_right .man__footer {
  margin: 60px 0 0 0;
}

.big__content .customer .container .cunsomer__item .cumtomer__item_right .man__footer .man__foter_comment {
  max-width: 500px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  opacity: 0.5;
}

.big__content .customer .container .cunsomer__item .cumtomer__item_right .man__footer .man__baho {
  margin-top: 30px;
}

.big__content .yourself__start {
  margin: 0 0 20px 0;
}

.big__content .yourself__start .yourself__start__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 500px;
  margin: 0 auto;
  background: white;
  border-radius: 50px;
}

.big__content .yourself__start .yourself__start__item .ractangel {
  position: relative;
}

.big__content .yourself__start .yourself__start__item .ractangel img {
  position: absolute;
  color: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
}

.big__content .yourself__start .yourself__start__item .ractangel .circle__one {
  bottom: 56px;
  left: 96px;
}

.big__content .yourself__start .yourself__start__item .ractangel .circle__two {
  bottom: 102px;
  left: 110px;
}

.big__content .yourself__start .yourself__start__item .ractangel .circle__three {
  bottom: 93px;
  left: 73px;
}

.big__content .yourself__start .yourself__start__item .ractangel .circle__4 {
  top: 74px;
  right: 112px;
}

.big__content .yourself__start .yourself__start__item .ractangel .circle__6 {
  top: 102px;
  right: 93px;
}

.big__content .yourself__start .yourself__start__item .ractangel .circle__5 {
  top: 117px;
  right: 116px;
}

.big__content .yourself__start .yourself__start__item .middle__rectangl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.big__content .yourself__start .yourself__start__item .middle__rectangl .middle__item {
  margin-top: 100px;
  font-weight: 500;
  font-size: 45px;
  line-height: 67px;
  max-width: 540px;
  text-align: center;
}

.big__content .yourself__start .yourself__start__item .middle__rectangl .middle__item_center {
  margin: 30px 0 60px 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  opacity: 0.5;
  max-width: 700px;
}

.big__content .yourself__start .yourself__start__item .middle__rectangl .middle__footer button {
  border: none;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  padding: 25px 55px;
  border-radius: 27px;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  cursor: pointer;
}

.big__content .yourself__start .yourself__start__item .middle__rectangl .middle__footer button:hover {
  background: silver;
  color: #ff7b4e;
}

.big__content .yourself__start .yourself__start__item .ractangel {
  width: 20%;
}

.big__content .subscribe__box {
  margin: 135px 0 80px 0;
}

.big__content .subscribe__box .container .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.big__content .subscribe__box .container .subscribe .subscribe__text {
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  text-align: center;
  max-width: 500px;
  margin-bottom: 60px;
}

.big__content .subscribe__box .container .subscribe .subscribe__input {
  position: relative;
}

.big__content .subscribe__box .container .subscribe .subscribe__input .btn__subscribe {
  position: absolute;
  top: 12%;
  right: 6px;
}

.big__content .subscribe__box .container .subscribe .subscribe__input .btn__subscribe button {
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  color: white;
  padding: 30px 75px;
  border-radius: 20px;
  border: none;
}

.big__content .subscribe__box .container .subscribe .subscribe__input .btn__subscribe button:hover {
  background: silver;
  color: #ff7b4e;
}

.big__content .subscribe__box .container .subscribe .subscribe__input input {
  width: 700px;
  padding: 40px 0 40px 46px;
  border: none;
  border-radius: 20px;
}

.big__content .subscribe__box .container .subscribe .subscribe__input input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  opacity: 0.5;
}

.big__content .subscribe__box .container .subscribe .subscribe__input input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  opacity: 0.5;
}

.big__content .subscribe__box .container .subscribe .subscribe__input input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  opacity: 0.5;
}

.big__content .subscribe__box .container .subscribe .subscribe__input input::placeholder {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  opacity: 0.5;
}

.big__content .footer__box {
  padding: 0 0 60px 0;
}

.big__content .footer__box .container .footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.big__content .footer__box .container .footer__item .footer__list .footer__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big__content .footer__box .container .footer__item .footer__list .footer__navbar .footer__navbar__list {
  margin: 0 0 0 80px;
  list-style: none;
}

.big__content .footer__box .container .footer__item .footer__list .footer__navbar .footer__navbar__list a {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: black;
  opacity: 0.5;
}

.big__content .footer__box .container .footer__item .footer__list .footer__logo {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  cursor: pointer;
  color: #ff7b4e;
}

.big__content .footer__box .container .footer__item .footer__list .footer__btn__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.big__content .footer__box .container .footer__item .footer__list .footer__btn__box .footer__sign__up {
  opacity: 0.5;
}

.big__content .footer__box .container .footer__item .footer__list .footer__btn__box .footer__sign__login button {
  margin: 0 0 0 25px;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  border: none;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
  padding: 13px 43px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.big__content .footer__box .container .footer__item .footer__list .footer__btn__box .footer__sign__login button:hover {
  background: silver;
  color: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
}
/*# sourceMappingURL=style.css.map */